@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.navigation-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 16%;
  background: linear-gradient(rgba(23, 21, 36, 0.658), #04010e);
  border-bottom: 2px solid rgba(0, 0, 0, 0.377); }

.navbar-brand {
  text-decoration: underline;
  text-decoration-color: white;
  margin: auto;
  padding: auto;
  font-size: 30px; }

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0; }

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none; }

.navbar-dark .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear; }

.navbar-dark .navbar-toggler-icon:after,
.navbar-dark .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear; }

.navbar-dark .navbar-toggler-icon:after {
  top: 8px; }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg); }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg); }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent; }

.nav-link {
  color: #ffffff;
  font-weight: 500; }

.nav-item:hover .nav-link {
  color: #ffffff; }

.nav-item.active .nav-link {
  color: #f1f1f1; }

.nav-link {
  position: relative;
  padding: 5px 0;
  display: inline-block; }

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  transition: all 200ms linear; }

.nav-item:hover:after {
  bottom: 0;
  opacity: 1; }

.nav-item.active:hover:after {
  opacity: 0; }

.nav-item {
  position: relative;
  transition: all 200ms linear; }

#logo1 {
  width: 8%; }

.site-footer {
  background-color: #110f20;
  padding-top: 35px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  width: 100%;
  text-align: center;
  align-content: center; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #ffffff; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 20rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 70%; }

.footer-links a {
  color: #fffefe; }

.footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

/* Footer */
.enlacesTitulo {
  display: flex;
  flex-direction: column;
  align-items: center; }

.redeSociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #110f20; }

.tituloRedes {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  padding-bottom: 10px; }

.logo {
  width: 120px; }

.derechos {
  font-size: 12px; }

body {
  background-color: #070213; }

.bg {
  background-image: url(../img/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin-bottom: 10px; }

.ultimasMezclas__Cartas {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

.ultimasMezclas h2 {
  color: #ffffff;
  text-decoration: underline; }

.card {
  width: 400px;
  margin: 10px;
  color: black;
  height: 90%; }

.cartelSlogan {
  display: flex;
  justify-content: center; }

.slogan {
  position: absolute;
  top: 300px;
  color: white;
  border: 3px solid white;
  padding: 50px;
  font-size: 80px;
  text-transform: uppercase;
  background-color: rgba(46, 43, 78, 0.466); }

.bottom-left {
  position: absolute;
  top: 110px;
  color: white;
  font-size: 18px;
  background-color: rgba(49, 49, 83, 0.466);
  padding: 10px;
  border-bottom: 0.5px solid white; }

.bottom-left2 {
  position: absolute;
  top: 165px;
  color: white;
  font-size: 18px;
  background-color: rgba(49, 49, 83, 0.466);
  padding: 10px;
  border-bottom: 1px solid white; }

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none; }

.fa:hover {
  opacity: 0.7; }

* {
  font-family: 'Quicksand', sans-serif; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.containerBio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 85%;
  margin: auto;
  flex-direction: row; }

.bio__contenedor2 {
  display: flex;
  flex-direction: column;
  padding: 2rem; }

.bio__titulo {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline; }

.bio__info {
  margin-top: 25px;
  font-size: 15px;
  text-align: center;
  color: whitesmoke;
  padding: 30px; }

.bio__info2 {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  color: whitesmoke;
  padding: 30px; }

form {
  color: white;
  margin: auto; }

.contacto {
  display: flex;
  flex-direction: row;
  padding-left: 8rem;
  padding-top: 1rem;
  margin: auto; }

.textoContacto {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  padding-right: 12rem;
  padding-top: 1rem; }

.comunicateCon {
  text-decoration: underline; }

.soundcloud {
  display: flex;
  justify-content: center;
  align-items: center; }

.Original {
  text-decoration: underline;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem; }

.letrasTabla {
  color: white;
  text-decoration: none; }

@media only screen and (max-width: 639px) {
  .redeSociales {
    display: block;
    padding: 0; }
  .footer-links {
    padding: 0;
    margin: auto; }
  .contacto {
    padding: 0;
    margin: auto; }
  .form-horizontal {
    text-align: center; }
  .textoContacto {
    padding: 0; }
  .navbar-toggler-icon {
    border-bottom: 1px solid #ffffff !important; }
    .navbar-toggler-icon::after {
      border: 1px solid #ffffff; }
    .navbar-toggler-icon::before {
      border: 1px solid #ffffff; }
  .navegador__enlace {
    background-color: rgba(7, 8, 43, 0.769);
    width: fit-content;
    border: 1px solid blue;
    border-radius: 6px;
    text-align: right;
    padding-right: 1rem; }
    .navegador__enlace .nav-link {
      color: white !important; } }

@media only screen and (min-width: 640px) {
  .redeSociales {
    display: block;
    padding: 0; }
  .footer-links {
    padding: 0;
    margin: auto; }
  .bio__foto {
    display: none; }
  .contacto {
    padding: 0;
    margin: auto; }
  .form-horizontal {
    text-align: center; }
  .textoContacto {
    padding: 0; }
  .navbar-toggler-icon {
    border-bottom: 1px solid #ffffff !important; }
    .navbar-toggler-icon::after {
      border: 1px solid #ffffff; }
    .navbar-toggler-icon::before {
      border: 1px solid #ffffff; }
  .navegador__enlace {
    background-color: rgba(7, 8, 43, 0.769);
    width: fit-content;
    border: 1px solid blue;
    border-radius: 6px;
    text-align: right;
    padding-right: 1rem; }
    .navegador__enlace .nav-link {
      color: white !important; } }

@media only screen and (min-width: 768px) {
  .navegador__enlace {
    background-color: #ffffff00;
    border: none;
    text-align: right; }
    .navegador__enlace .nav-link {
      color: white !important; }
  .contacto {
    padding-left: 10rem; }
  .textoContacto {
    padding-right: 10rem;
    display: flex;
    align-content: center; }
  .form-horizontal {
    text-align: left; }
  legend {
    text-align: center; } }
