.containerBio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 85%;
    margin: auto;
    flex-direction: row;

}
.bio__contenedor2 {display: flex;
flex-direction: column;
padding: 2rem;}

.bio__titulo {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;

}

.bio__info {
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
    padding: 30px;

}

.bio__info2 {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
    padding: 30px;
}