.soundcloud {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Original {text-decoration: underline;
color: white;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 5rem;
}